$radius: 0.65rem;
$space: 0.25rem;
$text-xs: 0.75rem;
$text-xm: 0.825rem;
$text-xl: 1rem;
$container-7xl: 80rem;

$green-500: lab(70.5521% -66.5147 45.8073);

$muted-color: rgb(var(--v-theme-muted));
$background: rgb(var(--v-theme-background));
$foreground: rgb(var(--v-theme-foreground));
$border-color: rgb(var(--v-theme-border));
$muted-foreground: rgb(var(--v-theme-muted-foreground));
